<div class="row">
  <div class="col-12">
    <%= form_with(model: lyric, local: true) do |f| %>
      <% if lyric.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul class="mb-0">
            <% lyric.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, 'Lyric' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :meaning, '込めた意味、こだわり' %>
        <%= f.text_area :meaning, class: 'form-control' %>
      </div>
      
      <div class="text-center">
        <%= f.submit '投稿', class: 'btn btn-outline-info btn-lg text-center' %>
      </div>
    <% end %>
  </div>
</div>