<h1>リリック一覧</h1>

<% if logged_in? %>

  <% if @lyrics.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        <% @lyrics.each do |lyric| %>
          <tr>
            <td><%= link_to lyric.title, lyric %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= paginate @lyrics %>
    </div>
  <% end %>

<%= link_to '新規リリックの投稿', new_lyric_path, class: "btn btn-primary" %>
<% else %>
  <% if @lyrics.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        <% @lyrics.each do |lyric| %>
          <tr>
            <td><%= link_to lyric.title, lyric %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= paginate @lyrics %>
    </div>
  <% end %>
<% end %>